@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.marquee {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  animation: marquee 30s linear infinite;
  will-change: transform;
}

@media (max-width: 768px) {
  .marquee {
    animation-duration: 30s;
  }
}
